.title {
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #0b6cde;
  margin: 0;
  @media screen and (max-width: 1152px) {
    font-size: 28px;
  }
  @media screen and (max-width: 520px) {
    font-size: 24px;
  }
  @media screen and (max-width: 450px) {
    font-size: 16px;
  }
}
.line {
  margin-left: 20px;
  background: linear-gradient(to right, #0d62ff, #0b6cde, #0089f5, #0b99de);
  height: 4px;
  width: 260px;
  border-radius: 200px;
}
