.title {
  text-transform: uppercase;
  margin: 0 0 20px;
  font-weight: 800;
  font-size: 36px;
  color: #243485;
  margin: 0;
}
.line {
  margin-left: 20px;
  background: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  height: 4px;
  width: 260px;
  border-radius: 200px;
}
