.done_projects {
  background-color: #f5f5f5;

  .container {
    color: #243485;

    padding: 50px 0;
    margin: auto;
    width: 80%;
    @media screen and (max-width: 1151px) {
      width: 90%;
    }
  }
}
