.about {
  background-color: #ffffff;
  .container {
    color: #0b6cde;

    padding: 50px 0;
    margin: auto;
    width: 80%;
    .content {
      display: flex;
      padding-top: 50px;
      justify-content: space-around;
      align-items: center;
      .text__block {
        width: 40%;
        span {
          font-style: italic;
        }
        h3 {
          margin: 20px 0;
        }
        ul {
          list-style-position: inside;
          margin-bottom: 20px;
        }
        p {
          margin-bottom: 20px;
        }
      }
      img {
        // margin-right: auto;
        // position: absolute;
        // z-index: 2;
      }
      .technologies {
        display: flex;
        background: #f3f3f3;
        align-items: center;
        height: 100%;
        width: 30%;
        padding: 20px 0;
        border-radius: 20px;
        box-shadow: 4px 4px 8px 0px rgba(34, 60, 80, 0.2);
        h3 {
          margin: 0;
          white-space: nowrap;
          padding: 0;
          color: #e9e8e8;
          font-size: 52px;
          font-weight: 900;
          text-transform: uppercase;
          writing-mode: vertical-lr;
          background: #f3f3f3;
        }
        ul {
          padding: 0 40px;
          li {
            display: flex;
            align-items: center;
            margin: 80px 0;
            p {
              margin-left: 20px;
            }
          }
        }
      }
    }
  }
}
