.contacts {
  .container {
    margin: 0 auto;
    width: 80%;
    padding: 40px 0;
    .items {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      .item {
        h4 {
          font-size: 12px;
          letter-spacing: 2.4px;
          color: #024edd;
          margin-bottom: 22px;
          text-transform: uppercase;
        }
        p {
          font-size: 18px;
          font-weight: 500;
          color: #292e3a;
        }
        a {
          font-size: 34px;
          transition: opacity 0.3s ease;
          &:hover {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
