.contacts {
  .container {
    margin: 0 auto;
    width: 80%;
    padding: 40px 0;
    .items {
      padding: 20px 0;
      display: flex;
      align-items: center;
      justify-content: space-around;
      @media screen and (max-width: 904px) {
        flex-direction: column;
        align-items: start;
      }
      .item {
        @media screen and (max-width: 904px) {
          margin-bottom: 10px;
        }
        h4 {
          font-size: 12px;
          letter-spacing: 2.4px;
          color: #024edd;
          margin-bottom: 22px;
          text-transform: uppercase;
          @media screen and (max-width: 904px) {
            margin-bottom: 0px;
          }
        }
        p {
          font-size: 18px;
          font-weight: 500;
          color: #292e3a;
        }
        a {
          font-size: 34px;
          transition: opacity 0.3s ease;
          @media screen and (max-width: 1245px) {
            font-size: 28px;
          }
          @media screen and (max-width: 1104px) {
            font-size: 22px;
          }
          @media screen and (max-width: 1000px) {
            font-size: 18px;
          }
          &:hover {
            opacity: 0.4;
          }
        }
      }
    }
  }
}
