.form {
  padding: 50px 0;
  background-color: #f5f5f5;
}
.container {
  max-width: 80%;
  margin: auto;
}

.screen {
  margin: auto;
  max-width: 90%;
  background: #4b80b3;
  border-radius: 15px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
}

.screen_body {
  display: flex;
}

.screen_body_item {
  flex: 1;
  padding: 50px;
}

.left {
  display: flex;
  flex-direction: column;
}
.right {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;

  background: #386085;
}

.app_title {
  display: flex;
  flex-direction: column;
  color: #f3f3f3;
  font-size: 50px;
}

// .app_title:after {
//   content: '';
//   display: block;
//   position: absolute;
//   left: 0;
//   bottom: -10px;
//   width: 100px;
//   height: 4px;
//   border-radius: 100px;
//   background: #f5f5f5;
// }

.app_contact {
  margin-top: auto;
  font-size: 14px;
  color: #c5c4c4;
  max-width: 95%;
}

.app_form_group {
  margin-bottom: 15px;
}

.message {
  margin-top: 40px;
}

.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app_form_control {
  width: 100%;
  padding: 10px 0;
  background: none;
  border: none;
  border-bottom: 1px solid #f5f5f5;
  color: #ddd;
  font-size: 14px;
  text-transform: uppercase;
  outline: none;
  transition: border-color 0.2s;
}

.app_form_control::placeholder {
  color: rgb(199, 199, 199);
}

.app_form_control:focus {
  border-bottom-color: #ddd;
}

.app_form_button {
  margin-top: 30px;
  background: none;
  border: none;
  color: #ffffff;
  font-size: 26px;
  cursor: pointer;
  outline: none;
}

.app_form_button:hover {
  color: #bebebe;
}
