.footer {
  padding: 10px 0;
  color: #ffffff;
  background-color: #535353;

  .container {
    ul {
      margin: 0 40px;
      li {
        list-style: none;
        margin-bottom: 10px;
      }
    }
    margin: auto;
    width: 60%;

    .lists {
      display: flex;
      justify-content: space-between;
      .links {
        display: flex;
        justify-content: space-between;
      }
    }
    .info {
      margin: 40px 40px;
      display: flex;
      border-top: 1px solid #ffffff;
      padding-top: 10px;
      justify-content: space-around;
    }
  }
}
