* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  margin: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
[data-aos] {
  pointer-events: none;
}
.aos-animate {
  pointer-events: auto;
}
.aos-init[data-aos][data-aos].aos-animate {
  transform: unset;
}
.slick-slide {
  max-width: 290px !important;
  margin: 0;
  div {
    width: 100% !important;

    padding: 0;
    display: flex;
    align-items: center;
  }
}
.slick-list {
}
.slick-prev:before,
.slick-next:before {
  opacity: 1 !important;
  color: black !important;
}
