.projects {
  background: #ffffff;
  padding: 50px 0;
  .container {
    margin: 0 auto;
    max-width: 80%;
    .blocks {
      padding: 40px 0;
      max-width: 80%;
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      .card {
        padding: 0;
        margin: 1px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 296px;
        height: 250px;
        box-sizing: border-box;

        overflow: hidden;
        img {
          width: 100%;
          transition: 1s;
        }
        .text {
          width: 296px;
          height: 250px;
          text-transform: uppercase;
          padding: 10px;
          background-color: #086b9cb7;
          color: #fff;
          text-align: center;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s opacity, 0.3s visibility, 0.3s padding-top;
          position: absolute;
          align-items: center;
          justify-content: center;
          display: flex;
          padding-top: 40px;
          box-sizing: border-box;
        }
        &:hover {
          .text {
            padding-top: 0;

            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
